# Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('visit_log.csv', sep=';')
data.head(2)

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct

In [21]:
data.loc[data.traffic_source.isin(['yandex','google']), 'source_type'] = 'organic'
data.loc[data.traffic_source.isin(['paid','email']) & data.region == 'Russia', 'source_type'] = 'ad'
data.loc[data.traffic_source.isin(['paid','email']) & ~(data.region == 'Russia'), 'source_type'] = 'other'
data.loc[~(data.traffic_source.isin(['paid','email','yandex','google'])), 'source_type'] = data.traffic_source

In [22]:
data.head(2)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct

# Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

- Прочитайте содержимое файла с датафрейм
- Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [23]:
import re

In [24]:
data = pd.read_table('URLs.txt')
data.head(2)

        url
0   /world/
1  /latest/

In [25]:
news_wc = r'\/\d{8}-'
news_data = data[data.url.str.contains(news_wc)]
news_data.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

# Задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [28]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [29]:
data.head(2)

               keyword   shows
0  курс гривны к рублю  125076
1      доллары в рубли  114173

In [35]:
from pymystem3 import Mystem

In [36]:
m = Mystem()
data['lemmas'] = data.keyword.apply(lambda x: ''.join(m.lemmatize(x)).strip())
data.head(2)

Installing mystem to /Users/admin/.local/bin/mystem from http://download.cdn.yandex.net/mystem/mystem-3.1-macosx.tar.gz

               keyword   shows               lemmas
0  курс гривны к рублю  125076  курс гривна к рубль
1      доллары в рубли  114173       доллар в рубль