# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
data.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [4]:
data['class'] = data['rating'].apply(lambda x: 'low_rating' if x <= 2 else
                                             ('middle_rating' if x <= 4 else
                                                ('high_rating' if x == 4.5 or x == 5 else None)))
data.head(2)

   userId  movieId  rating  timestamp          class
0       1        1     4.0  964982703  middle_rating
1       1        3     4.0  964981247  middle_rating

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [10]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [11]:
data1 = pd.read_csv('keywords.csv')
data1.head(2)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309

In [12]:
def ind_region(x):
    for region, cities in geo_data.items():
        for city in cities:
            if city in x.lower(): return region
    return 'undefined'

In [13]:
data1['region'] = data1['keyword'].apply(ind_region)
data1['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64