# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('ratings.csv')
data.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [8]:
max_id = data[data.rating == 5.0]['movieId'].value_counts().idxmax()

In [9]:
movie = pd.read_csv('movies.csv')
movie.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [10]:
movie[movie.movieId==max_id]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [12]:
data = pd.read_csv('power.csv')
data.head(2)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1

In [29]:
filtered = (data.country.isin(['Latvia','Lithuania','Estonia'])
             & (data.year >= 2005) & (data.year <= 2010)
             & data.category.isin([4,12,21])
             & data.quantity > 0
           )

In [30]:
data[filtered]['quantity'].sum()

240481.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [35]:
tables = pd.read_html("https://www.finanz.ru/valyuty/v-realnom-vremeni", encoding='utf-8')

print(tables[0])

     0       1      2        3       4      5        6       7      8   \
0  ММВБ   2 972  -0,5%   Nasdaq  11 011  -0,9%  Биткойн  12 022   2,9%
1   РТС   1 271  -0,9%   S&P500   3 351   0,1%    Нефть     448   0,3%
2   Dow  27 433   0,2%  FTSE100   6 032   0,1%   Золото   2 028  -0,4%

        9       10    11
0  USD/RUB  736398  0,2%
1  EUR/RUB  868450  0,0%
2  EUR/USD   11790  0,1%