# Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
data.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [9]:
data_by_user = data.groupby('userId').agg({'movieId':'count','timestamp': lambda x: x.max() - x.min()})
data_by_user.head(2)

        movieId  timestamp
userId
1            20         97
2            76        851

In [11]:
user_100_mean_lt = data_by_user[(data_by_user.movieId > 100)].mean()['timestamp']
user_100_mean_lt

40080507.4496124

# Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.